
{% extends 'ensembl/base.html' %}

{% block title %}
  Production Web Services: Datacheck
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='ensembl.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/production.png') }}">
{% endblock styles %}

{% block content %}

  <a id="top"></a>

  <div class="container">
    <h2><img src="{{ url_for('static', filename='img/production.png') }}" /> Production Web Services: Datacheck</h2>
  </div>

  <div class="container">
    <ul>
      <li><a href="names">Datacheck Catalog</a></li>
      <li><a href="submit">Datacheck Submission</a></li>
    </ul>
  </div>

{% endblock %}
