
{% extends "ensembl/submit.html" %}

{% set icon_image = 'img/production.png' %}
{% set title = 'Datacheck Submission' %}

{% block submit -%}

  <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
    {{ form.csrf }}

    <fieldset class="border rounded p-2 border-purple">
      <legend class="w-auto fg-purple">&nbsp;{{ form.server.description }}&nbsp;</legend>

      <div class="form-group row">
        {{ form.server.server_name.label( class='col-sm-2 col-form-label' ) }}
        <div class="col-sm-4">{{ form.server.server_name( class='form-control' ) }}</div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2">{{ form.server.source( class='form-control select-align-right', onchange='selectServerSource()' ) }}</div>
        <div class="col-sm-4">
          {{ form.server.dbname( class='form-control' ) }}
          {{ form.server.species( class='form-control', style='display: none' ) }}
          {{ form.server.division( class='form-control', style='display: none' ) }}
        </div>
      </div>

      <div class="form-group row">
        {{ form.server.db_type.label( class='col-sm-2 col-form-label', id='server-db_type-label', style='display: none' ) }}
        <div class="col-sm-2">{{ form.server.db_type( class='form-control', style='display: none' ) }}</div>
      </div>

    </fieldset>

    <fieldset class="border rounded p-2">
      <legend class="w-auto">&nbsp;{{ form.datacheck.description }}&nbsp;</legend>

      <div class="form-group row">
        {{ form.datacheck.datacheck_name.label( class='col-sm-2 col-form-label' ) }}
        <div class="col-sm-9">{{ form.datacheck.datacheck_name( class='form-control' ) }}</div>
      </div>

      <div class="form-group row">
        {{ form.datacheck.datacheck_group.label( class='col-sm-2 col-form-label' ) }}
        <div class="col-sm-9">{{ form.datacheck.datacheck_group( class='form-control' ) }}</div>
      </div>

      <div class="form-group row">
        {{ form.datacheck.datacheck_type.label( class='col-sm-2 col-form-label' ) }}
        <div class="col-sm-3">{{ form.datacheck.datacheck_type( class='form-control' ) }}</div>
      </div>

    </fieldset>

    <fieldset class="border rounded p-2">
      <legend class="w-auto">&nbsp;{{ form.submitter.description }}&nbsp;</legend>

      <div class="form-group row">
        {{ form.submitter.email.label( class='col-sm-2 col-form-label' ) }}
        <div class="col-sm-5">{{ form.submitter.email( class='form-control' ) }}</div>
      </div>

      <div class="form-group row">
        {{ form.submitter.tag.label( class='col-sm-2 col-form-label' ) }}
        <div class="col-sm-5">{{ form.submitter.tag( class='form-control' ) }}</div>
      </div>

    </fieldset>

    <div class="form-group row">
      <div class="col-sm-12">{{ form.submit( class='btn bg-purple', style='float:right;' ) }}</div>
    </div>

  </form>

{%- endblock submit %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='typeahead.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='tagsinput.js') }}"></script>
  <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
{% endblock scripts %}
