'''
Created on 11 Dec 2017

@author: dstaines
'''
import os
hc_uri = os.environ.get("HC_URI", "http://127.0.0.1:5001/")
hc_web_uri = os.environ.get("HC_WEB_URI", "http://127.0.0.1:9000/#!/view/")
copy_uri = os.environ.get("COPY_URI", "http://127.0.0.1:5002/")
copy_web_uri = os.environ.get("COPY_WEB_URI", "http://127.0.0.1:9000/#!/copyview/")
meta_uri = os.environ.get("META_URI", "http://127.0.0.1:5003/")
meta_web_uri = os.environ.get("META_WEB_URI", "http://127.0.0.1:9000/#!/copyview/")
staging_uri = os.environ.get("STAGING_URI", "mysql://user@staging:3306/")
live_uri = os.environ.get("LIVE_URI", "mysql://user@127.0.0.1:3306/")
production_uri = os.environ.get("PRODUCTION_URI", "mysql://user@127.0.0.1:3306/ensembl_production")
compara_uri = os.environ.get("COMPARA_URI", "mysql://user@127.0.0.1:3306/ensembl_compara_master")
core_handover_group = os.environ.get("CORE_HANDOVER_GROUP", "CoreHandover")
variation_handover_group = os.environ.get("VARIATION_HANDOVER_GROUP", "VariationHandover")
funcgen_handover_group = os.environ.get("FUNCGEN_HANDOVER_GROUP", "FuncgenHandover")
compara_handover_group = os.environ.get("COMPARA_HANDOVER_GROUP", "ComparaHandover")
smtp_server = os.environ.get("SMTP_SERVER", 'smtp.ebi.ac.uk')
report_server = os.environ.get("REPORT_SERVER", "amqp://guest:guest@localhost:5672/%2F")
report_exchange = os.environ.get("REPORT_EXCHANGE", 'report_exchange')
data_files_path = os.environ.get("DATA_FILE_PATH" , '/data_files/')