include LICENSE
include NOTICE
include VERSION
include src/ensembl/production/datacheck/templates/*
include src/ensembl/production/datacheck/static/js/*
include src/ensembl/production/datacheck/static/css/*
include src/ensembl/production/datacheck/swagger.yml