ensembl-prodinf-core==3.0.0
Bootstrap-Flask
#celery~=5.0.5 required click 7.1.2
click
elasticsearch>=6.8.1,<7.0.0
email_validator
Flask
flasgger
Flask-Cors
flask_wtf
gunicorn
mysqlclient
pytest
requests
SQLAlchemy
wtforms
ensembl-py@git+https://github.com/Ensembl/ensembl-py.git@1.2.2
