
{% extends 'ensembl/base.html' %}

{% set title = 'GIFTs' %}
{% set icon_image = 'img/gifts.png' %}

{% block content -%}

  <div class="container">
    <ul>
      <li><a href="submit">Submission</a></li>
      <li><a href="update_ensembl">"Update Ensembl" jobs</a></li>
      <li><a href="process_mapping">"Process Mapping" jobs</a></li>
      <li><a href="publish_mapping">"Publish Mapping" jobs</a></li>
      <li><a href="api">REST endpoint documentation</a></li>
    </ul>
  </div>

{%- endblock %}
