
{% extends 'ensembl/base.html' %}

{% set title = 'Datacheck Catalog' %}
{% set repo_url = 'https://github.com/Ensembl/ensembl-datacheck/tree/master/lib/Bio/EnsEMBL/DataCheck/Checks/' %}

{% block content -%}

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
      <span class="navbar-brand">List by:</span>

      <div class="navbar-nav">
        <a class="nav-item nav-link {%- if request.endpoint.endswith('names') %} active {% endif -%} " href="/datacheck/names" >Name</a></li>
        <a class="nav-item nav-link {%- if request.endpoint.endswith('groups') %} active {% endif -%} " href="/datacheck/groups" >Group</a></li>
        <a class="nav-item nav-link {%- if request.endpoint.endswith('types') %} active {% endif -%} " href="/datacheck/types" >Type</a></li>
      </div>

      {% if request.endpoint.endswith('groups') %}
        <div class="navbar-nav ml-auto">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Jump to group <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
              {% for group in datachecks | sort %}
                <li><a class="dropdown-item" href="#{{ group }}">{{ group }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

    </nav>
  </div>

  <div class="container">
    {% block datacheck_table %}{% endblock %}
  </div>

{%- endblock content %}
