{% from 'bootstrap/nav.html' import render_nav_item %}
{% block doc -%}

<!DOCTYPE html>
<html {% block html_attribs %}{% endblock html_attribs %}>

{%- block html %}
  {% set icon_image = 'img/production.png' %}
  {% set title = 'Ensembl Datacheck Service' %}

  <head>
    {%- block head %}
    <title>Production Datachecks App</title>

      {%- block metas %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%- endblock metas %}

      {%- block styles %}
      <!-- Bootstrap -->
      {{ bootstrap.load_css() }}
      
      {% if config['DATACHECK_TYPE'] == 'vertebrates' %}
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/vertebrates.css') }}">
      {% elif config['DATACHECK_TYPE'] == 'plants' %}
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/plants.css') }}">
      {% elif config['DATACHECK_TYPE'] == 'metazoa' %}
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/metazoa.css') }}">   
      {% elif config['DATACHECK_TYPE'] == 'microbes' or  config['HANDOVER_TYPE'] == 'bacteria'%}
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/microbes.css') }}">
      {% elif config['DATACHECK_TYPE'] == 'viruses' %}
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/viruses.css') }}"> 
      {% elif config['DATACHECK_TYPE'] == 'rapid' %}
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/rapid.css') }}">                                     
      {% else %}
          <link rel="stylesheet" href="{{ url_for('static', filename='css/vertebrates.css') }}">
      {% endif %}


      <link rel="shortcut icon" href="{{ url_for('static', filename=icon_image) }}">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      {%- endblock styles %}
    {%- endblock head %}
  </head>

  <body {% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}

    
      {% block navbar %}
      <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark dnav" >
        <a class="navbar-brand" href="#"><span class="mb-0 h3">Datacheck {{config['DATACHECK_TYPE']}} </a>
            <ul class="nav navbar-nav navbar-right navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
              <li><a href="https://github.com/Ensembl/ensembl-prodinf-datachecks/blob/release/{{config['APP_VERSION']}}/CHANGELOG.md" class="nav-item nav-link active">e{{config['ENS_VERSION']}} - v{{config['APP_VERSION']}}</a></li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">    
            <div class="navbar-nav mr-auto">
                {{ render_nav_item('display_form', 'Submit') }}
                {{ render_nav_item('job_list', 'List Jobs') }}
                {{ render_nav_item('groups', 'Datacheck groups') }}
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a target="_blank" href="https://github.com/Ensembl/ensembl-prodinf-datachecks/blob/release/{{config['APP_VERSION']}}/CHANGELOG.md" class="nav-item nav-link active navbar-brand">e{{config['ENS_VERSION']}}-eg{{config['EG_VERSION']}}  (v{{config['APP_VERSION']}})</a></li>
            </ul>
        </div>
    </nav>
      {%- endblock navbar %}

      {% block content -%}

      {%- endblock content %}

      {% block scripts %}
          <script type="text/javascript">
              var script_name = "{{script_name}}";
              console.log("script_name " + script_name);
          </script>
        {{ bootstrap.load_js(version='4.3.0') }}
      {%- endblock scripts %}
    {%- endblock body %}
  </body>

{%- endblock html %}
</html>

{% endblock doc -%}
