{% extends "catalog.html" %}

{% block datacheck_table %}

  <table class="table table-bordered table-striped">
    <thead class="h-buttons">
      <tr>
        <th >Name</th>
        <th >Description</th>
        <th >Type</th>
        <th >Groups</th>
      </tr>
    </thead>
    <tbody>
    {% for type_name in datachecks | sort(reverse=True) %}
      <tr><td colspan="4" class="bg-white"><a id="{{ type_name }}" /></td></tr>
      <tr><td colspan="4" class="bg-light-purple">Type: <strong>{{ type_name }}</strong></td></tr>
      {% for datacheck in datachecks[type_name] | sort(attribute='name') %}
        {% set name = datacheck.name %}
        {% set type = datacheck.datacheck_type %}
        <tr>
          <td><a title="{{ name }} Perl module (opens in new tab)" href="{{ repo_url }}{{ name }}.pm" target="_blank">{{ name }}</a></td>
          <td>{{ datacheck.description }}</td>
          <td><a title="View all {{ type }} datachecks" href="/datacheck/types#{{ type }}">{{ type }}</a></td>
          <td>
            {% set pipe = joiner("|") %}
            {% for group in datacheck.groups | sort %}
              {{ pipe() }}
              <a title="View all '{{ group }}' datachecks" href="/datacheck/groups#{{ group }}">{{ group }}</a>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>

{% endblock datacheck_table %}